@import "../index.scss";

.notification {
  position: fixed;
  bottom: 100px;
  left: 20px;
  z-index: 10;
  padding: 20px;
  text-align: center;
  background-color: $red;
  border-radius: 10px;
  color: white;
  font-size: 1.3rem;
  border: 2px dashed $offGray;
}
