@import "../index.scss";

.spinner {
  @include flex-row-center;
  height: 100vh;
}

.smallerSpinner {
  @include flex-row-center;
  margin-top: 15px;
}

@media (min-width: $smallTablet) {
  .smallerSpinner {
    @include flex-row-center;
    margin-top: 30px;
  }
}
