@import "../index.scss";

.main-title {
  margin: 25px 0 5px;
  // align-self: flex-start;
  font-size: 1.5rem;
}

@media (min-width: $smallTablet) {
  .main-title {
    font-size: 1.7rem;
  }
}

@media (min-width: $tablet) {
  .main-title {
    margin: 35px 0 15px;
    font-size: 1.8rem;
  }
}

@media (min-width: $laptop) {
  .main-title {
    margin: 40px 0 10px;
    font-size: 1.9rem;
  }
}

@media (min-width: $desktop) {
  .main-title {
    margin: 40px 0 15px;
    font-size: 2rem;
  }
}
