@import "../index.scss";

.card-wrapper {
  position: relative;
  background-color: white;
  border-radius: 12px;
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.1));
  scroll-snap-align: center;
  max-width: 250px;
  scroll-snap-stop: always;
  flex: 0 0 auto;
  transition: all 0.5s;

  .action-button-area {
    position: absolute;
    top: 10px;
    right: 10px;
    @include flex-row-end;
    gap: 20px;

    .action-button {
      @include flex-row-center;
      background-color: white;
      font-size: 1.5rem;
      padding: 7px;
      border-radius: 100%;
      cursor: pointer;

      &:hover {
        background-color: $lightRed;
      }

      &:active {
        background-color: $red;
      }
    }

    .favored-recipe {
      background-color: $red;
    }
  }

  .img-wrapper {
    .img {
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      height: 180px;
      width: 100%;
      object-fit: cover;
      transition: all 0.5s;
    }
  }
  .card-content {
    padding: 20px;
    @include flex-col-start;

    .prep-time-area {
      @include flex-row-start;
      gap: 10px;

      .clock-icon {
        color: $offGray;
        font-size: 1.6rem;
      }

      .prep-time-copy {
        font-size: 1.3rem;
        color: $offGray;
      }
    }

    .recipe-title {
      margin: 20px 0 7px;
      font-size: 1.4rem;
      font-weight: 700;
    }

    .recipe-description {
      font-size: 1.2rem;
      margin-bottom: 25px;
    }

    .recipe-link {
      background-color: $lightRed;
      color: white;
      padding: 20px 40px;
      border-radius: 8px;
      font-size: 1.2rem;
      font-weight: 700;
    }
  }
}

@media (min-width: $tablet) {
  .card-wrapper {
    max-width: 100%;

    .action-button-area {
      gap: 15px;

      .action-button {
        font-size: 1.7rem;
        padding: 10px;
      }
    }

    .img-wrapper {
      .img {
        height: 250px;
      }
    }
    .card-content {
      padding: 25px;

      .prep-time-area {
        .clock-icon {
          font-size: 1.7rem;
        }

        .prep-time-copy {
          font-size: 1.4rem;
        }
      }

      .recipe-title {
        font-size: 1.5rem;
      }

      .recipe-description {
        font-size: 1.3rem;
      }

      .recipe-link {
        padding: 20px 50px;
        font-size: 1.3rem;
      }
    }
  }
}

@media (min-width: $laptop) {
  .card-wrapper {
    max-width: 100%;

    .card-content {
      padding: 25px;

      .prep-time-area {
        .clock-icon {
          font-size: 1.7rem;
        }

        .prep-time-copy {
          font-size: 1.4rem;
        }
      }

      .recipe-title {
        font-size: 1.5rem;
      }

      .recipe-description {
        font-size: 1.3rem;
      }

      .recipe-link {
        padding: 20px 50px;
        font-size: 1.3rem;
      }
    }
  }
}
