@import "../../index.scss";

.name-error-message {
  align-self: flex-start;
  color: $red;
  font-size: 1.1rem;
  margin-top: 10px;
}

@media (min-width: $smallTablet) {
  .name-error-message {
    font-size: 1.2rem;
  }
}

@media (min-width: $tablet) {
  .name-error-message {
    font-size: 1.3rem;
  }
}
